<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'parentindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <th width="96">Staff</th>
      <th width="141">Email</th>
      <td></td>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{i.fname}} {{i.lname}}</td>
      <td>&nbsp;{{i.email}}</td>
      <td><a href="{% url 'staffchat' id=i.lid.id %}" class="btn btn-primary">Chat</a></td>
    </tr>
    {% endfor %}

  </table>

</form>
</body>
{% endblock %}
<!--</html>-->
