<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'parentindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="276" height="353" border="1">
    <tr>
      <td width="207"><a href="parentvwtips">View tips</a></td>
    </tr>
    <tr>
      <td><a href="vwmtrls">View study materials & methods</a></td>
    </tr>
    <tr>
      <td><a href="vwclasswork">View class works</a></td>
    </tr>
    <tr>
      <td><a href="sendfdbk">Send feedbacks</a></td>
    </tr>
    <tr>
      <td><a href="chatwithstaff">Chat with staff</a></td>
    </tr>
    <tr>
      <td><a href="c">Send rating & review</a></td>
    </tr>
    <tr>
      <td><a href="#">Text to hand gesture translation</a></td>
    </tr>
    <tr>
      <td height="46"><label>
        <div align="center"><a href="/">Logout</a></div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
