<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'parentindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="genvideo#about">
  <table class="table table-striped">

    <tr>
      <th>Text</th>
      <td><label>
        <textarea name="textarea" required></textarea>
      </label></td>
    </tr>
    <tr align="center">
      <td height="44" colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Submit" class="btn btn-warning"/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
