<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="{% url 'editcode' %}">
  <table class="table table-hover">
    <tr>
      <th width="61">First name </th>
      <td width="205"><label>
        <input type="text" name="textfield" value="{{val.fname}}" class="form-control" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th>Last name </th>
      <td><label>
        <input type="text" name="textfield2" value="{{val.lname}}" class="form-control" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th>Place</th>
      <td><label>
        <input type="text" name="textfield3" value="{{val.place}}" class="form-control" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th>Phone number </th>
      <td><label>
        <input type="text" name="textfield4" value="{{val.phno}}" class="form-control" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><label>
        <input type="text" name="textfield5" value="{{val.email}}" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label> </label>
        <div align="center">
          <input type="submit" name="Submit" value="OK" class="btn btn-warning"/>
        </div></td>
    </tr>
  </table>
</form>

</body>
{% endblock %}
<!--</html>-->