<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
{% extends 'staffindex.html' %}
{% block body %}
<body>
<form name="form1" method="post" action="addclswrk#about">
  <table class="table table-striped">
    <tr>
      <th>Subject</th>
      <th>Work</th>
      <th>Date</th>
      <th>&nbsp;</th>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{i.subject}}</td>
      <td>{{i.works}}</td>
      <td>{{i.date}}</td>
      <td><a href="{% url 'workdelete' id=i.id %}#about" onclick="return confirm('Are you sure?')" class="btn btn-warning">Delete</a></td>
    </tr>
      {% endfor %}
    <tr align="center">
      <td colspan="4"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Add work"  class="btn btn-warning">
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->