<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'staffindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">

    <tr>
      <th width="43">User name </th>
      <th width="38">Rating</th>
      <th width="38">Reviw</th>
      <th width="68">date</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{i.pid.fname}}{{i.pid.lname}}</td>
      <td>{{i.rating}}</td>
      <td>{{i.review}}</td>
      <td>{{i.date}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
